@tailwind base;
@tailwind components;
@tailwind utilities;

.tab:focus-visible.tabLifted {
    border-bottom-right-radius: var(--tab-radius, 0.5rem);
    border-bottom-left-radius: var(--tab-radius, 0.5rem)
}
.tabLifted {
    border: var(--tab-border, 1px) solid transparent;
    border-width: 0 0 var(--tab-border, 1px) 0;
    border-top-left-radius: var(--tab-radius, 0.5rem);
    border-top-right-radius: var(--tab-radius, 0.5rem);
    border-bottom-color: var(--tab-border-color);
    padding-left: var(--tab-padding, 1rem);
    padding-right: var(--tab-padding, 1rem);
    padding-top: var(--tab-border, 1px)
}
.tabLifted.tabActive:not(.tab-disabled):not([disabled]) {
    background-color: var(--tab-bg);
    border-width: var(--tab-border, 1px) var(--tab-border, 1px) 0 var(--tab-border, 1px);
    border-left-color: var(--tab-border-color);
    border-right-color: var(--tab-border-color);
    border-top-color: var(--tab-border-color);
    padding-left: calc(var(--tab-padding, 1rem) - var(--tab-border, 1px));
    padding-right: calc(var(--tab-padding, 1rem) - var(--tab-border, 1px));
    padding-bottom: var(--tab-border, 1px);
    padding-top: 0
}
.tabLifted.tabActive:not(.tab-disabled):not([disabled]):before,
    .tabLifted.tabActive:not(.tab-disabled):not([disabled]):after {
    z-index: 1;
    content: "";
    display: block;
    position: absolute;
    width: var(--tab-radius, 0.5rem);
    height: var(--tab-radius, 0.5rem);
    bottom: 0;
    --tab-grad: calc(68% - var(--tab-border, 1px));
    --tab-corner-bg: radial-gradient(
        circle at var(--circle-pos),
        transparent var(--tab-grad),
        var(--tab-border-color) calc(var(--tab-grad) + 0.3px),
        var(--tab-border-color) calc(var(--tab-grad) + var(--tab-border, 1px)),
        var(--tab-bg) calc(var(--tab-grad) + var(--tab-border, 1px) + 0.3px)
      )}
.tabLifted.tabActive:not(.tab-disabled):not([disabled]):before {
    left: calc(var(--tab-radius, 0.5rem) * -1);
    --circle-pos: top left;
    background-image: var(--tab-corner-bg)}
[dir="rtl"] .tabLifted.tabActive:not(.tab-disabled):not([disabled]):before {
    --circle-pos: top right}
.tabLifted.tabActive:not(.tab-disabled):not([disabled]):after {
    right: calc(var(--tab-radius, 0.5rem) * -1);
    --circle-pos: top right;
    background-image: var(--tab-corner-bg)}
[dir="rtl"] .tabLifted.tabActive:not(.tab-disabled):not([disabled]):after {
    --circle-pos: top left}
.tabLifted.tabActive:not(.tab-disabled):not([disabled]):first-child:before {
    background: none}
.tabLifted.tabActive:not(.tab-disabled):not([disabled]):last-child:after {
    background: none}
.tabLifted.tabActive:not(.tab-disabled):not([disabled])
  + .tabLifted.tabActive:not(.tab-disabled):not([disabled]):before {
    background: none
    }
.tab.tabActive:not(.tab-disabled):not([disabled]) {
    border-color: hsl(var(--bc) / var(--tw-border-opacity));
    --tw-border-opacity: 1;
    --tw-text-opacity: 1}